/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Days+One&family=Dosis&family=Libre+Baskerville:ital@0;1&family=Neuton&family=Playfair+Display&family=Red+Hat+Display&display=swap');

::-webkit-scrollbar {
    display: none;
}

/* Apply the font to the body */
body {
    font-family: 'Comfortaa', sans-serif;
    /* font-family: 'Days One', sans-serif; */
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Neuton', serif; */
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Red Hat Display', sans-serif; */
}

h2 {
    font-family: 'Days One', sans-serif;
}