/* ContactPage styles */
#contact {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact h2 {
    color: #007BFF;
    text-align: center;
    margin-bottom: 20px;
}

#contact p {
    text-align: center;
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details p {
    margin: 8px 0;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}